.container{
    width: 90%;
    margin: auto;
    height: 90vh;
    background: #8119194d;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    "header header header "
    "aside contain1 contain1"
    "aside contain2 contain3"
    "footer footer footer";
    gap: 10px;
    background: #000000bb;
}
body{
    background:pink;
}
.text{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}
nav{
    background: #15549c;
    grid-area: header;
    display: grid;
    place-content: center;
    border: 10px solid #000;
}
aside{
    background: #006fee9c;
    grid-area:aside;
    display: grid;
    place-content: center;
    border: 10px solid #000;

}
.container1{
    border: 10px solid #000;

    background: #2bdd13;
    grid-area:contain1;
    display: grid;
    place-content: center;
}
.container2{
    background: #4fbb41;
    grid-area:contain2;
    display: grid;
    place-content: center;
}
.container3{
    border: 10px solid #000;

    background: #174111;
    grid-area:contain3;
    display: grid;
    place-content: center;
}
footer{
    border: 10px solid #000;

    background: #1004ac;
    grid-area:footer;
    display: grid;
    place-content: center;
}